.input-box {
    position: relative;
    height: 40px;
    max-width: 400px;
    width: 100%;
    background: #fff;
    margin: 0 20px;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }
  .input-box i,
  .input-box .button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .input-box i {
    left: 20px;
    font-size: 30px;
    color: #707070;
  }
  .input-box input {
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 18px;
    font-weight: 400;
    border: none;
    padding: 0 100px 0 20px;
    background-color: transparent;
  }
  .input-box .button {
    right: 0px;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    border: none;
    padding: 8px 25px;
    border-radius: 6px;
    background-color: #4070f4;
    cursor: pointer;
  }
  .input-box .button:active {
    transform: translateY(-50%) scale(0.98);
  }
  